html {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
}
body {
    width: 80%;
    height: auto;
    background-color: #212529;
    margin: 0 auto;
}
header {
    width: 80%;
    height: 7%;
    background-color: #212529;
    position: fixed;
    top: 0;
    display: flex;
    display: block;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 120%;
    align-items: center;
    justify-content: space-between;
    
}
.navi {
    display: flex;
}
.logo {
    width: 50px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5px;
}
.logo_img {
    width: 50px;
    height: 50px;
    background-image: url(../Pict/Frame\ 7.png);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.navi_p, .navi_p0 {
    display: flex;
    list-style: none;
    text-align: center;
}
.navi_p1, .logo1 {
    font-weight: 600;
    text-decoration: none;
    color: #E5E5E5;
    margin-left: 15px;
    transition: all 0.5s;
}
.navi_p1:hover {
    color: #FFB742;
}
.logo1 {
    background-color: #FFB742;
    color: #212529;
    border: 1px #FFB742 solid;
    border-radius: 50px;
    padding: 3px 7px;
    display: flex;
}
main {
    width: 100%;
    height: auto;
}
.level_1 {
    width: 100%;
    height: 300px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 20%;
}
.level_1_1 {
    font-size: 250%;
    margin-bottom: 15px;
}
.level_1_1_1 {
    color: #FFB742;
    text-decoration-line: underline;
}
.level_1_2 {
    font-size: 350%;
    margin-bottom: 25px;
}
.level_1_3 {
    font-weight: 400;
    font-size: 150%;
}
.level_1_4 {
    width: 130px;
    height: 130px;
    margin: 50px auto;
    background-image: url(../Pict/Circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.level_2 {
    width: 100%;
    height: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.level_2_1 {
    width: 32%;
    height: 100%;
    display: flex;
    background-color: #292B2E;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    box-sizing: border-box;
    transition: all 1s; 
}
.level_2_1_1, .level_2_1_11, .level_2_1_12 {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(../Pict/emblem\ 1.png);
    background-size: cover;
}
.level_2_1_2 {
    font-size: 110%;
    color: #FFFFFF;
    display: flex;
    text-align: center;
    margin-top: 30px;
    margin-left: 7%;
}
.plus {
    display: flex;
    color: #FFB742;
    font-size: 220%;
    position: relative;
    bottom: 30px;
    right: 45%;
}
.level_2_1_3 {
    display: flex;
    font-size: 200%;
    color: #B3B3B3;
    text-decoration: none;
}
.level_2_1:hover {
    background-color: #FFB742;
}
.level_2_1:hover .level_2_1_2 {
    color: #000000;
}
.level_2_1:hover .plus {
    color: #000000;
}
.level_2_1:hover .level_2_1_3 {
    color: #000000;
}
.level_2_1_11 {
    background-image: url(../Pict/emblem\ 2.png);
}
.level_2_1_12 {
    background-image: url(../Pict/emblem\ 3.png);
}
.level_3 {
    width: 100%;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    box-sizing: border-box;
    padding: 2%;
}
.level_3_1, .level_3_2 {
    width: 40%;
    height: 360px;
    background-image: url(../Images/Man.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.level_3_2 {
    width: 60%;
    background-image: none;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    box-sizing: border-box;
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 3%;
}
.level_3_2_1, .level_3_2_3, .level_4_1 {
    background-color: #404244;
    color: #FFB742;
    border: 1px #404244 solid;
    border-radius: 50px;
    padding: 4px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    text-transform: uppercase;
}
.level_3_2_1:hover {
    color: #292B2E;
    background-color: #FFB742;
    border: 1px #FFB742 solid;
}
.level_3_2_2 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 120%;
    line-height: 200%;
    margin-bottom: 30px;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.level_3_2_3 {
    padding: 4px 20px;
    text-transform: none;
}
.level_3_2_3:hover {
    color: #292B2E;
    background-color: #FFB742;
    border: 1px #FFB742 solid;
}
.level_41 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5px;
}
.level_4_1:hover {
    color: #292B2E;
    background-color: #FFB742;
    border: 1px #FFB742 solid;
}
.level_4_2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 350%;
    font-weight: 700;
    color: #FFFFFF;
}
.navi_p0 {
    width: 100%;
    margin: 10px auto;
    justify-content: center;
}
.navi_p2 {
    font-size: 120%;
    font-weight: 600;
    text-decoration: none;
    color: #E5E5E5;
    margin-left: 40px;
    
    
    padding: 5px 10px;
}
.navi_p2:hover {
    color: #292B2E;
    background-color: #FFB742;
    border: 1px #FFB742 solid;
    border-radius: 3px;
}
.level_5, .level_6 {
    width: 100%;
    height: 360px;
    margin-top: 50px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    justify-content: space-between;
    }
.level_5_1, .level_5_2, .level_5_3, .level_6_1, .level_6_2, .level_6_3 {
    width: 31%;
    height: 100%;
    border-radius: 5.3px;
    background-repeat: no-repeat;
    background-size: contain;
}
.level_5_1 {
    background-image: url(../Images/Cover_1.png);
}
.level_5_2 {
    background-image: url(../Images/Cover_2.png);
}
.level_5_3 {
    background-image: url(../Images/Cover_3.png);
}
.level_6 {
    height: 215px;
    margin-top: 28px;
}
.level_6_1 {
    background-image: url(../Images/Cover_4.png);
}
.level_6_2 {
    background-image: url(../Images/Cover_5.png);
}
.level_6_3 {
    background-image: url(../Images/Cover_6.png);
}
footer {
    width: 100%;
    height: 250px;
    background-color: #1C1C1C;
    margin-top: 10%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.footer_1 {
    width: 20%;
    height: 180px;
    border: 1px #1C1C1C solid;
    padding-top: 20px;
    padding-left: 35px;
    padding-right: 10px;
    color: #FFFFFF;
}
.cont, .txt {
    font-weight: 500;
    color: #7B7B7B;
    list-style: none;
    font-size: 120%;
    line-height: 170%;
    text-decoration: none;
    transition: all 0.5s; 
}
.cont:hover {
    color: #FFB742;
}
h3 {
    margin-left: 40px;
}
.cont1 {
    margin-left: 0;
    
}
h2 {
    color: #FFB742;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}
ul {
    list-style: none;
}